html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #333;
    color: #EEE
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --door-height: 310px;
  --door-width: 200px;
  --light-gray: #ddd;
  --yellow: yellow;
  --brown: #654321;
  --dark-brown: #251301;
}