.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.startButton {
  cursor: pointer;
}

